# This file holds shared secrets or RSA private keys for authentication.

# RSA private key for this host, authenticating it to any other host
# which knows the public part.

: RSA "/etc/ipsec.d/private/vpnHostKey.pem"
{%for user in ikev2.users%}{{user.name}} : EAP "{{user.password}}"
{%endfor%}
