### stub-zone.conf
#
# Example
#
# stub-zone:
#    name: "example.com"
#    stub-addr: 127.0.0.1@10053
#

### Stub zone
server:
#    stub-zone:
#        name: "example.com"
#        stub-addr: 127.0.0.1@10053
#    {%for zone in stub.zone%}stub-zone:
#        name: "{{zone.domain}}"
#        stub-addr: {{zone.address}}
#
#{% endfor %}

