ctrl_interface=DIR=/var/run/wpa_supplicant GROUP=netdev
update_config=1
country=JP

network={
    ssid="{{network.ssid}}"
    key_mgmt=WPA-EAP
    identity="{{network.identity}}"
    password="{{network.password}}"
}
